# Pandas Series and Data Frames

In [3]:
import pandas as pd

In [4]:
a = pd.Series([1, 2, 3, 4, 5])

In [5]:
type(a)

pandas.core.series.Series

In [6]:
a[3:5]

3    4
4    5
dtype: int64

In [7]:
pd.Series(['a', 'b', 'c'])

0    a
1    b
2    c
dtype: object

In [8]:
pd.date_range(start='12-12-2018', periods = 3, freq='M', tz = 'Asia/Kolkata')

DatetimeIndex(['2018-12-31 00:00:00+05:30', '2019-01-31 00:00:00+05:30',
               '2019-02-28 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='M')

In [9]:
import numpy as np

In [10]:
temp = np.random.randint(low = 5, high = 100, size = 20)

In [11]:
names = np.random.choice(['Arvind', 'Udemy', 'Shiv', 'Naresh'], 20)

In [12]:
skill = np.random.choice(['python', 'protractor', 'java', 'javascript', 'selenium'], 20)

In [13]:
pkList = list(zip(temp, names, skill))

In [14]:
pkData = pd.DataFrame(pkList, columns = ['temp', 'names', 'skill'])

In [15]:
pkDict = pd.DataFrame({'temp': temp, 'names': names, 'skill': skill})

In [16]:
pkDict.head()

    names       skill  temp
0  Arvind      python    99
1  Naresh      python    74
2  Arvind        java    27
3  Arvind      python    20
4  Arvind  javascript    27

In [17]:
pkDict.describe()

            temp
count  20.000000
mean   57.250000
std    24.458074
min    20.000000
25%    39.750000
50%    53.500000
75%    74.500000
max    99.000000

In [18]:
pkDict.skill

0         python
1         python
2           java
3         python
4     javascript
5           java
6       selenium
7         python
8     protractor
9       selenium
10      selenium
11      selenium
12          java
13        python
14    protractor
15      selenium
16    javascript
17    javascript
18    protractor
19          java
Name: skill, dtype: object

In [19]:
pkDict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
names    20 non-null object
skill    20 non-null object
temp     20 non-null int32
dtypes: int32(1), object(2)
memory usage: 480.0+ bytes

In [21]:
pkDict.iloc[2:8]

    names       skill  temp
2  Arvind        java    27
3  Arvind      python    20
4  Arvind  javascript    27
5    Shiv        java    57
6  Arvind    selenium    97
7   Udemy      python    66

In [23]:
pkDict.loc[2]

names    Arvind
skill      java
temp         27
Name: 2, dtype: object

In [28]:
pkDict.loc[(pkDict.temp > 90) & (pkDict.names.str.lower() == 'arvind') ]

    names     skill  temp
0  Arvind    python    99
6  Arvind  selenium    97