In [2]:
tup1 = (23, 'data', 345.75)
tup1

(23, 'data', 345.75)

In [3]:
tup2 = tup1, ('newTup', 90)
tup2

((23, 'data', 345.75), ('newTup', 90))

In [4]:
tup2[1]

('newTup', 90)

In [5]:
new_tup = ([2, 6, 8], ['learn', 'practise', 10])

In [10]:
new_tup[0][0] = 9

In [12]:
print("Updated tuple is {0}".format(new_tup))

Updated tuple is ([9, 6, 8], ['learn', 'practise', 10])

In [17]:
stud_grades = ('A', 'A', 'C', 'B', 'C', 'B', 'D')
print(type(stud_grades))
uniq_grades = set(stud_grades)
uniq_grades

<class 'tuple'>

{'A', 'B', 'C', 'D'}

In [18]:
#uniq_grades.intersection()

In [19]:
d = {'name':'sehwag', 'age':40, 'prof':['cricketer', 'manager', 'owner']}
d

{'age': 40, 'name': 'sehwag', 'prof': ['cricketer', 'manager', 'owner']}

In [20]:
d.update({'runs':9000, 'HS':{'Odi': 219, 'Tests': 319}})

In [21]:
d

{'HS': {'Odi': 219, 'Tests': 319},
 'age': 40,
 'name': 'sehwag',
 'prof': ['cricketer', 'manager', 'owner'],
 'runs': 9000}

In [25]:
print('Detials of the person:')
for a, b in d.items():
    print('{0} : {1}'.format(a, b))

Detials of the person:
HS : {'Tests': 319, 'Odi': 219}
name : sehwag
age : 40
prof : ['cricketer', 'manager', 'owner']
runs : 9000